.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
  url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -12rem;

  & > * {
    transform: skewY(7deg);
  }
  &__items {
    @include row-flex();
    @include md(justify-content, center);
  }

  &__item {
    @include col();
    @include size(3);
    @include size-lg(6);
    @include size-md(6);
    @include size-xs(12);

    padding: 2.5rem;
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: all .3s;

    @include md-block(){
      &:not(:nth-last-child(-n+2)) {
        margin-bottom: 3rem;
      }
    }

    @include lg-block(){
      margin-bottom: 3rem;
    }

    &__icon {
      font-size: 6rem;
      margin-bottom: .5rem;
      background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
      -webkit-background-clip: text;
      color: transparent;
    }
    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
    }
  }
}
